<div class="row">
  <div class="col-md add_top_30">
    <div class="row">
      <div class="fs-3 mb-3">Basic Infos</div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="form-group">
            <label>Schedule Name</label>
            <input type="text" class="form-control" placeholder="Enter Schedule Name" name="name"
              value="{{schedule.name}}">
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label>Start Date</label>
            <input type="date" class="form-control" placeholder="Enter Start Date" name="startDate"
              value="{{schedule.startDate}}">
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label>End Date</label>
            <input type="date" class="form-control" placeholder="Enter End Date" name="endDate"
              value="{{schedule.endDate}}">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="form-group">
            <label>Select Course</label>
            <select class="form-control" aria-label="" name="courseId">
              {{#each courses}}
                <option value="{{this._id}}" {{#ifCond this._id ../schedule.courseId}} selected {{/ifCond}}>
                  {{this.titleEn}}
                </option>
              {{/each}}
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label>Max People</label>
            <input type="number" class="form-control" placeholder="Enter Max People" name="maxPeople"
              value="{{schedule.maxPeople}}">
          </div>
        </div>
      </div>
      <!-- /row-->
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" placeholder="Enter Others Description"
              name="desc">{{schedule.desc}}</textarea>
          </div>
        </div>
      </div>
      {{!-- <textarea style="height:100px;" class="form-control" placeholder="Personal info"></textarea> --}}
      <!-- /row-->
    </div>
  </div>

  <div class="d-flex">
    <p><button type="submit" class="btn_1 medium">Save</button></p>
    <p><a href="javascript:history.back()" class="btn_1 gray mx-3">Back</a></p>
  </div>